
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#badges {
    display: -webkit-flex;
display: flex;
    font-family:  'Montserrat', sans-serif;
    flex-flow: row;
    /* -webkit-flex-flow: row wrap ; */
    padding: 20;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: stretch;
}